.rionite-file-upload {
	display: block;
	box-sizing: border-box;
	padding: 12px;
	min-width: 400px;
	border: 1px solid hsl(0,0%,80%);
	color: hsl(0,0%,30%);
	font-size: 1rem;
	line-height: 1.5;

	& .rionite-file-upload__file-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		& .rionite-file-upload__file {
			position: relative;
			margin-bottom: 10px;
			padding: 12px 52px 12px 20px;
			border-radius: 3px;
			background: hsl(0,0%,95%);
		}
			& .rionite-file-upload__file-preview-wrapper {
				position: relative;
				display: inline-block;
				margin-right: 10px;
				width: 48px;
				height: 48px;
				vertical-align: middle;
			}
				& .rionite-file-upload__file-preview,
				& .rionite-file-upload__file-icon,
				& .rionite-file-upload__file-loading-icon {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: block;
					margin: auto;
				}

				& .rionite-file-upload__file-preview {
					max-width: 48px;
					max-height: 48px;
					border: 0;
					border-radius: 3px;
				}

				& .rionite-file-upload__file-icon {
					width: 48px;
					height: 48px;
					fill: currentColor;
				}

				& .rionite-file-upload__file-loading-icon {
					width: 20px;
					height: 20px;
					animation: rionite-file-upload__file-loading-icon-animation 1.2s infinite linear;
					fill: currentColor;
				}

			& .rionite-file-upload__file-text {
				vertical-align: middle;
			}

			& .rionite-file-upload__btn-remove-file {
				position: absolute;
				top: 0;
				right: 10px;
				bottom: 0;
				display: block;
				margin: auto;
				padding: 10px;
				width: 42px;
				height: 42px;
				border: 0;
				background: transparent;
				cursor: pointer;
				transform: translateY(-1px);
			}
				& .rionite-file-upload__btn-remove-file-icon {
					display: block;
					width: 22px;
					height: 22px;
					transition: fill .1s;
					fill: hsl(0,0%,60%);
				}

			& .rionite-file-upload__btn-remove-file:hover .rionite-file-upload__btn-remove-file-icon {
				fill: hsl(0,0%,30%);
			}

			& .rionite-file-upload__btn-remove-file:active {
				transform: translateY(0);
			}

	& .rionite-file-upload__files-input {
		display: none;
	}

	& .rionite-file-upload__drop-zone {
		position: relative;
		padding: 25px;
		border: 2px dashed hsl(0,0%,60%);
		border-radius: 5px;
		background: hsl(0,0%,95%);
		color: hsl(0,0%,50%);
		text-align: center;
		cursor: pointer;
	}
		& .rionite-file-upload__drop-zone-error-message-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			border-radius: inherit;
			background: inherit;
			white-space: nowrap;
			font-size: 0;
		}
			& .rionite-file-upload__drop-zone-error-message-wrapper::after {
				display: inline-block;
				width: 0;
				height: 100%;
				content: '';
				vertical-align: middle;
			}

			& .rionite-file-upload__drop-zone-error-message {
				color: hsl(0,100%,50%);
				vertical-align: middle;
				font-size: 1rem;
			}

		& .rionite-file-upload__drop-zone-text {
		}
			& .rionite-file-upload__btn-select-files {
				display: inline;
				padding: 0;
				border: 0;
				background: transparent;
				color: hsl(208,90%,52%);
				font: inherit;
				cursor: inherit;
			}

	& .rionite-file-upload__drop-zone[over] {
		border-color: hsl(208,90%,52%);
	}
		& .rionite-file-upload__drop-zone[over] .rionite-file-upload__drop-zone-text {
			pointer-events: none;
		}

	& .rionite-file-upload__drop-zone[error] .rionite-file-upload__drop-zone-error-message-wrapper  {
		display: block;
	}
}

@keyframes rionite-file-upload__file-loading-icon-animation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}